{% extends 'base.html.twig' %}


{% block content %}

{#
    <div class="row">
        <div class="col-sm-12" >

            <ul class="nav nav-tabs" role="tablist">
                <li ><a href="profile.php?activity=1" ><h3>Activities</h3></a></li>
                <li class="active"><a href="profile.php?account=1&personal_info=1"><h3>Account</h3></a></li>
                </ul>
            </div>
        </div>


    <div class="row">
        <div class="col-sm-3">
            <div class="navbar-default sidebar" role="navigation">

                   <div class="sidebar-nav navbar-collapse">
                        <ul class="nav nav-pills nav-stacked" id="side-menu">
                        </ul>
                    </div>

                <div class="col-sm-9 " >

                    <div class="panel panel-info">
                        $pinfo = $c->get_personal_info($user_id);

                        if (isset($_GET['account'])&&isset($_GET['personal_info'])) {

                        if (!empty($pinfo)){
                        <div class="panel panel-heading">
                            Personal Information</div>

                        <table class="table">
                        </table>
                        }
                        }

                        if (isset($_GET['account'])&&isset($_GET['address'])) {


                        <div class="panel panel-heading">Addresses</div>
                        <form action="profile/update_profile.php" method="post">
                            <table class="table table-default">

                            </table>

                            <div class="panel-body">

                                <div style ="background-color:lemonchiffon ;border:1px dashed orange ;padding:3px">
                                    <h3 class="pull-right"><small>About addresses</h3></small>

                                    <strong>Registration address -</strong> This is your main contact address, so its important to keep it up to date and accurate.<br />
                                    <strong>Primary Shipping address -</strong> This is where you would like to receive the item u purchased.
                                </div></div>
                            </form>
                        }

                        if (isset($_GET['account'])&&isset($_GET['comm_p'])) {
                        <div class="panel panel-heading">
                            Communication Preference</div>
                        }

                        if (isset($_GET['account'])&&isset($_GET['feedback'])) {
                        <div class="panel panel-heading">
                            Feed back</div>
                        }
                        </div></div>

                </div>

            </div>
   </div>


#}




    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="/profile/account">Account</a></li>
            <li role="presentation"><a href="/profile/activities">Activities</a></li>
        </ul>

        <!-- Tab panes -->
        <div >
            <div class="col-sm-9">
                <div class=""
                {#if (!empty($pinfo)){#}
                <div class="panel panel-heading">
                    Personal Information</div>

                <table class="table">
                </table>

                if (isset($_GET['account'])&&isset($_GET['address'])) {


                <div class="panel panel-heading">Addresses</div>
                <form action="profile/update_profile.php" method="post">
                    <table class="table table-default">

                    </table>

                    <div class="panel-body">

                        <div style ="background-color:lemonchiffon ;border:1px dashed orange ;padding:3px">
                            <h3 class="pull-right"><small>About addresses</h3></small>

                            <strong>Registration address -</strong> This is your main contact address, so its important to keep it up to date and accurate.<br />
                            <strong>Primary Shipping address -</strong> This is where you would like to receive the item u purchased.
                        </div></div>
                </form>
                }

                if (isset($_GET['account'])&&isset($_GET['comm_p'])) {
                <div class="panel panel-heading">
                    Communication Preference</div>
                }

                if (isset($_GET['account'])&&isset($_GET['feedback'])) {
                <div class="panel panel-heading">
                    Feed back</div>
                }

            </div>
            <div class="clear-fix"></div>
            <div class="col-sm-3" >
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav nav-pills nav-stacked" id="side-menu">
                        <div class="list-group-info">
                            <h4 class="list-group-item">My Account Information</h4></div>
                        <li class ="active"><a href="profile.php?account=1&personal_info=1"><i class="fa  fa-info-circle
                        fa-fw "></i> Personal Information</a>
                        <li><a href="profile.php?account=1&address=1"><i class="fa  fa-info-circle fa-fw"></i> Addresses</a>
                        <li><a href="profile.php?account=1&comm_p=1"><i class="fa  fa-info-circle fa-fw"></i> Communication
                                Preference</a>
                        <li><a href="profile.php?account=1&feedback=1"><i class="fa  fa-info-circle fa-fw"></i> Feed Back</a>
                    </ul>
                </div>
            </div>


        </div>

    </div>

{% endblock %}

