{% extends 'base.html.twig' %}


 {% block content %}

{% set cart = sylius_cart_get() %}

Current cart totals: {{ cart.total }} for {{ cart.totalItems }} items!


     <div class="pagerfanta">
         {{ pagerfanta(my_pager, 'twitter_bootstrap3') }}
     </div>

     <div class="pagerfanta">
         {{ pagerfanta(my_pager, 'my_template') }}
     </div>
 {% endblock %}