@charset "utf-8";
/*
 * 	Core SOLVE CSS File
 *	v1.0.0
 */
.msg{
background: rgb(113,223,113);
    color: rgb(38,88,38);
    padding: 0.813em 0;
}
.msg li:last-child{
    margin: 0;
    list-style-type: none;
}
.msg li:last-child{
    padding: 0 0.813em ;
    list-style-type: none;
}
.err{
    background: rgb(255,77,77);
    color: #fff;
}
.news{
    overflow-y: scroll;
    height: 400px;
}
.foot{

}
.foot h1{
    color:#2AB59C ;
    font-size: medium;
}
.foot h3{
    line-height: 2em;
    color:#fff ;
    font-size: medium;
}
.foot div{
    height: 200px;
    border-right: 1px solid #29292A;
    padding-right: 50px;

}
.wrapper{
    font-size: medium;
    border:1px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 5px 5px 5px 5px;
    margin-bottom:15px;
    list-style:none;
    background-color:white;
    word-wrap: break-word;
    text-wrap: normal;
    overflow: auto;
}
#header-contact{
    color:white;
    width: 35%;
    display: inline-block;
    margin-left: 4%;
    padding-left: 0%;
    padding-top: 1%;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: "Courier New", Courier;
}

.carouselProducts{
    margin: 5px;
    height:300px
}
.carouselProductsCaption{
    margin-top: 0.29em;
    padding: 1.0em;
    background-color: beige;
    height: 28%
}

.link {

}
.link ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}
.link ul li
{
    display: inline;
    float: left;
    margin: 2.3em 1.3em;

}

.link ul li a {
    display:block;
    width:240px;
}


span img{
    width: 100%;
    height: 100%;
}



.link > .price-box {
    display: block;
    margin-bottom: 5px;
}
.link > .title {
    margin: 0px;
    padding: 0px;
}
.title{
    color:#00b3ee;
}
.title > .brand {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #404040;
    border-bottom: 1px solid #E9E9E9;
    margin: 4px 0px;
    padding-bottom: 4px;
}
.title > .name {
    font-weight: 500;
    color: #565656;
    margin: 3px 0px 5px;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 2.824em;
}
.h2, h2 {
    font-size: 25px;
}
