@charset "utf-8";
/*
 * 	Core SOLVE CSS File
 *	v1.0.0
 */



body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
nav {

    border: 1px solid #dedede;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 30px 2% 30px 2%;
    overflow: hidden;
    width: 96%;
    padding:  0% 2%;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: black;
    display: block;
    line-height: 50px;
    padding: 0 24px;
    text-decoration: none;
}

nav > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;

    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

/*hover state*/
nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}

/*second tier div*/
nav > ul > li > div {
    background-color: snow;
    border-top: 0;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 7px 7px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    padding: 0.2em ;
    opacity: 0;
    position: absolute;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 20em;
    visibility: hidden;
    z-index: 100;

    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
/*display the child element on hover */
nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav > ul > li > div > div > a :hover {
    color: red;
}

/**/
.navLogoBadge {
    opacity: 0.6;
    height: inherit;
    width: 35%;
    background-color: #dfdfdf;
    padding: 1.5em;
    margin: 1.5em;

}

.navLogoText{
   text-decoration: none;
    font-style: oblique;
    color: #2C3E50;


}

.msg{
background: rgb(113,223,113);
    color: rgb(38,88,38);
    padding: 0.813em 0;
}
.msg li:last-child{
    margin: 0;
    list-style-type: none;
}

.msg li:last-child{
    padding: 0 0.813em ;
    list-style-type: none;
}
.err{
    background: rgb(255,77,77);
    color: #fff;
}
.news{
    overflow-y: scroll;
    height: 400px;
}
.foot{

}
.foot h1{
    color:#2AB59C ;
    font-size: medium;
}
.foot h3{
    line-height: 2em;
    color:#fff ;
    font-size: medium;
}
.foot div{
    height: 200px;
    border-right: 1px solid #29292A;
    padding-right: 50px;

}
.wrapper{
    font-size: medium;
    border:1px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 5px 5px 5px 5px;
    margin-bottom:15px;
    list-style:none;
    background-color:white;
    word-wrap: break-word;
    text-wrap: normal;
    overflow: auto;
}
#header-contact{
    color:white;
    width: 35%;
    display: inline-block;
    margin-left: 4%;
    padding-left: 0%;
    padding-top: 1%;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: "Courier New", Courier;
}

.carouselProducts{
    margin: 5px;
    height:300px
}
.carouselProductsCaption{
    margin-top: 0.29em;
    padding: 1.0em;
    background-color: beige;
    height: 28%
}

.link {

}
.link ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}
.link ul li
{
    display: inline;
    float: left;
    margin: 2.3em 1.3em;

}

.link ul li a {
    display:block;
    width:240px;
}


span img{
    width: 100%;
    height: 100%;
}



.link > .price-box {
    display: block;
    margin-bottom: 5px;
}
.link > .title {
    margin: 0px;
    padding: 0px;
}
.title{
    color:#00b3ee;
}
.title > .brand {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #404040;
    border-bottom: 1px solid #E9E9E9;
    margin: 4px 0px;
    padding-bottom: 4px;
}
.title > .name {
    font-weight: 500;
    color: #565656;
    margin: 3px 0px 5px;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 2.824em;
}
.h2, h2 {
    font-size: 25px;
}
